{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <form method="post" name="form-user" class="needs-validation"  autocomplete="off" novalidate>
                        {% csrf_token %}
                        <h6>{{ request.user.first_name }} {{ request.user.last_name }} | {{ request.user.username }}</h6>
                        <div class="form-row pt-3">
                            <div class="form-group col-md-4">
                                {{ form.old_password.label_tag }}
                                {% if form.old_password.errors %}
                                {% render_field form.old_password class="form-control is-invalid" %}
                                <span class="text-danger"><small>{{ form.old_password.errors }}</small></span>
                                {% else %}
                                {% render_field form.old_password class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.new_password1.label_tag }}
                                {% if form.new_password1.errors %}
                                {% render_field form.new_password1 class="form-control is-invalid" %}
                                <span class="text-danger"><small>{{ form.new_password1.errors }}</small></span>
                                {% else %}
                                {% render_field form.new_password1 class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.new_password2.label_tag }}
                                {% if form.new_password2.errors %}
                                {% render_field form.new_password2 class="form-control is-invalid" %}
                                <span class="text-danger"><small>{{ form.new_password2.errors }}</small></span>
                                {% else %}
                                {% render_field form.new_password2 class="form-control" %}
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Alterar Senha</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
